<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-inner">
    <div class="navbar-header">
      <% if logged_in? %>
        <%= link_to "Hi Pat", new_upload_path %>
      <% else %>
        <%= link_to "Log in, Pat", root_path %>
      <% end %>

      <% if logged_in? %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Log Out", logout_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>